html {
    font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
    background-color: #7fffd4;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: #d7f7eedc;
    padding: 0 20px 20px 20px;
    border: 2px solid #40bcde;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #08aedb;
    text-shadow: 3px 3px 1px #e3eff7;
}

p[id="101"]{
    font-size: 12px;
}

img {
    display: block;
    margin: 0 auto;
}

a,
p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

